name: Presubmit
on: [push, pull_request]

jobs:
  build-and-check:
    strategy:
      matrix:
        compiler: [gcc, clang]
        gem: [true, false]
    name: Build and check ${{matrix.compiler}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo add-apt-repository ppa:lttng/ppa
          sudo apt-get update
        if: ${{ ! steps.load-cache.outputs.cache-hit }}
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: ${{matrix.compiler}} ruby babeltrace2 libbabeltrace2-dev
          version: 1.0
      - name: Install Gem
        run: |
          gem build metababel
          sudo gem install metababel
          echo "METABABEL_INSTALL=1" >> $GITHUB_ENV
        if: ${{ matrix.gem == true }}
      - name: Run tests
        run: CC=${{matrix.compiler}} CFLAGS="-Wall -Werror" rake test
