name: Presubmit
on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Install Dependency and run tests
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo add-apt-repository ppa:lttng/ppa
          sudo apt-get update
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: gcc g++ ruby ruby-dev babeltrace2 libbabeltrace2-dev
          version: 1.0
      - name: Run tests        
        run: rake test
