name: Presubmit
on: [push, pull_request]

jobs:
  build-and-check:
    strategy:
      matrix:
        compiler: [gcc, clang]
        build_gem: [true, false]
        ruby: [ruby2.7, ruby]
    name: Check with ${{matrix.compiler}}, ${{matrix.ruby}}, build_gem? ${{matrix.build_gem}}
    runs-on: ${{ matrix.ruby == 'ruby2.7' && 'ubuntu-20.04' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo add-apt-repository ppa:lttng/ppa
          sudo apt-get update
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: ${{matrix.compiler}} ${{matrix.ruby}} babeltrace2 libbabeltrace2-dev valgrind
          version: 1.0
      - name: Install Gem
        run: |
          gem build metababel
          sudo gem install metababel
          echo "METABABEL_INSTALL=1" >> $GITHUB_ENV
        if: ${{ matrix.build_gem == true }}
      - name: Run tests
        run: CC=${{matrix.compiler}} CFLAGS="-Wall -Werror" rake test
      - name: Run tests with Valgrind
        env:
          METABABEL_VALGRIND: 1
        run: CC=${{matrix.compiler}} CFLAGS="-Wall -Werror" rake test
        if: ${{ matrix.build_gem == false }}
  example:
    runs-on: ubuntu-latest
    name: Check with example
    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo add-apt-repository ppa:lttng/ppa
          sudo apt-get update
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: ${{matrix.compiler}} ${{matrix.ruby}} babeltrace2 libbabeltrace2-dev
          version: 1.0
      - run: |
          cd example
          ./run.sh
